<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixliu.credit.product.dao.ProductConfigDao" >
    <!-- 产品(product)属性和表字段映射 -->
    <resultMap id="Product" type="com.sixliu.credit.product.po.ProductConfig" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="is_deleted" property="deleted" jdbcType="INTEGER" />
        <result column="owner_id" property="ownerId" jdbcType="VARCHAR" />
        <result column="update_userId" property="updateUserId" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_userId" property="createUserId" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!-- from 表 -->
    <sql id="from_product">
    	form product
    </sql>
    
    <!-- intsert to 表 -->
    <sql id="insert_product">
    	insert into product
    </sql>
    
     <!-- intsert to 表 -->
    <sql id="insert_common_column">
    	insert into product
    </sql>
    
    <!-- 查询通用列 -->
    <sql id="select_common_column">
    	select 
    		id					id,
	        user_name           userName,
	        request_id			requestId,
	        supplier_name		supplierName,
	        interface_name  	interfaceName,
	        request_parameter	requestParameter,
	        status				status,
	        begin_time			beginTime,
	        end_time			endTime,
	        consume_time		consumeTime,
	        result				result,
	        exception_msg       exceptionMsg
    </sql>
    
	<select id="getById" resultMap="Product" >
		<include refid="select_common_column"></include>
		<include refid="from_product"></include>
        where id =#{id}
    </select>
   
</mapper>