<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixliu.credit.product.dao.ProductConfigDao" >
    <!-- 产品(product)属性和表字段映射 -->
    
    <resultMap id="ProductConfigResult" type="com.sixliu.credit.product.entity.ProductConfig" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <id column="code" property="code" jdbcType="VARCHAR" />
        <id column="name" property="name" jdbcType="VARCHAR" />
        <id column="type_id" property="typeId" jdbcType="INTEGER" />
        <id column="priority" property="priority" jdbcType="INTEGER" />
        <id column="apply_mutex_for_all" property="applyMutexForAll" jdbcType="INTEGER" />
        <id column="apply_mutex_for_similar" property="applyMutexForSimilar" jdbcType="INTEGER" />
        <id column="apply_multiple" property="applyMultiple" jdbcType="INTEGER" />
        <id column="loop_quota" property="loopQuota" jdbcType="INTEGER" />
        <id column="increase_quota" property="increaseQuota" jdbcType="INTEGER" />
        <id column="decrease_quota" property="decreaseQuota" jdbcType="INTEGER" />
        <id column="loanTerm_type" property="loanTermType" jdbcType="INTEGER" />
        <id column="loan_term" property="loanTerm" jdbcType="INTEGER" />
        <id column="effective_date" property="effectiveDate" jdbcType="DATE" />
        <id column="expire_date" property="expireDate" jdbcType="DATE" />        
        <id column="effective" property="effective" jdbcType="INTEGER" />
        <id column="apply_description" property="applyDescription" jdbcType="VARCHAR" />        
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="is_deleted" property="deleted" jdbcType="INTEGER" />
        <result column="owner_id" property="ownerId" jdbcType="VARCHAR" />
        <result column="update_userId" property="updateUserId" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_userId" property="createUserId" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <parameterMap id="ProductConfigParameter" type="com.sixliu.credit.product.entity.ProductConfig"/>
    
    <!-- from 表 -->
    <sql id="from_table">
    	from product_config
    </sql>
    
    <!-- 查询通用列 -->
    <sql id="select_common_column">
    	select 
    		`id`			    		`id`,
	        `code`              		`code`,
	        `name`						`name`,
	        type_id						typeId,
	        `priority`  				`priority`,
	        apply_mutex_for_all			applyMutexForAll,
	        apply_mutex_for_similar		applyMutexForSimilar,
	        apply_multiple				applyMultiple,
	        loop_quota					loopQuota,
	        increase_quota				increaseQuota,
	        decrease_quota				decreaseQuota,
	        loanTerm_type       		loanTermType,
	        loan_term					loanTerm,
	        effective_date				effectiveDate,
	        expire_date					expireDate,
	        effective					effective,
	        apply_description			apply_description,
	        `remarks`		    		`remarks`,
	        `version`           		`version`,
	        is_deleted          		isDeleted,
	        owner_id  	        		ownerId,
	        update_user_id	    		updateUserId,
	        update_date					`updateDate`,
	        create_user_id	    		createUserId,
	        create_date					`createDate`
    </sql>
    
    <!-- intsert to 表 -->
    <sql id="insert_common_column">
    	<include refid="table"/>
    	insert into product_config(`id`,`code`,`name`,type_id,`priority`,apply_mutex_for_all,apply_mutex_for_similar,
    	 							apply_multiple,loop_quota,increase_quota,decrease_quota,loanTerm_type,loan_term,
    	 							effective_date,expire_date,effective,apply_description,
    	 							`remarks`,owner_id,update_user_id,create_user_id)
    </sql>

    <!-- intsert to 表通用列取值 -->
    <sql id="insert_common_column_value">
    	values(#{id},#{code},#{name},#{typeId},#{priority},#{applyMutexForAll},#{applyMutexForSimilar},
    		   #{applyMultiple},#{loopQuota},#{increaseQuota},#{decreaseQuota},#{loanTermType},
    		   #{loanTerm},#{effectiveDate},#{expireDate},#{effective},#{applyDescription},
    		   #{remarks},#{ownerId},#{updateUserId},#{createUserId})
    </sql>
    
	<select id="getById" resultMap="ProductConfigResult" >
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where `id` =#{id}
    </select>
    
    <select id="getByCode" resultMap="ProductConfigResult" >
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where `code` =#{code}
    </select>
   
    <insert id="insert" parameterMap="ProductConfigParameter">
    	<include refid="insert_common_column"></include>
		<include refid="insert_common_column_value"></include> 
	</insert> 
</mapper>