<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixliu.credit.product.dao.ProductConfigDao" >
    <!-- 产品(product)属性和表字段映射 -->
    
    <resultMap id="ProductConfigResult" type="com.sixliu.credit.product.entity.ProductConfig" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type_id" property="typeId" jdbcType="INTEGER" />
        <result column="priority" property="priority" jdbcType="INTEGER" />
        <result column="credit_apply_mutex_type" property="creditApplyMutexType" jdbcType="INTEGER"/>
        <result column="use_blacklist_group_id" property="useBlacklistGroupId" jdbcType="VARCHAR" />
        <result column="loop_creditlimit" property="loopCreditlimit" jdbcType="BOOLEAN" />
        <result column="increase_creditlimit" property="increaseCreditlimit" jdbcType="BOOLEAN" />
        <result column="decrease_creditlimit" property="decreaseCreditlimit" jdbcType="BOOLEAN" />
        <result column="link_customer_base_creditlimit" property="linkCustomerBaseCreditlimit" jdbcType="BOOLEAN" />
        <result column="credit_apply_max_months" property="creditApplyMaxMonths" jdbcType="INTEGER" />
        <result column="credit_apply_flow_modle_id" property="creditApplyFlowModleId" jdbcType="VARCHAR" />
        <result column="credit_apply_reject_influence_days" property="creditApplyRejectInfluenceDays" jdbcType="INTEGER" />
        <result column="min_creditlimit" property="minCreditlimit" jdbcType="INTEGER" />
        <result column="max_creditlimit" property="maxCreditlimit" jdbcType="INTEGER" />
        <result column="creditlimit_effective_months" property="creditlimitEffectiveMonths" jdbcType="INTEGER" />
        <result column="min_single_loan_amount" property="minSingleLoanAmount" jdbcType="INTEGER" />
        <result column="max_single_loan_amount" property="maxSingleLoanAmount" jdbcType="INTEGER" />
        <result column="loan_term_type" property="loanTermType" jdbcType="INTEGER"/>
        <result column="min_single_loan_term" property="minSingleLoanTerm" jdbcType="INTEGER" />
        <result column="max_single_loan_term" property="minSingleLoanTerm" jdbcType="INTEGER" />
        <result column="loan_flow_modle_id" property="loanFlowModleId" jdbcType="VARCHAR" />
        <result column="effective" property="effective" jdbcType="BOOLEAN" />
        <result column="effective_date" property="effectiveDate" jdbcType="DATE" />
        <result column="expire_date" property="expireDate" jdbcType="DATE" />            
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="is_deleted" property="deleted" jdbcType="INTEGER" />
        <result column="owner_id" property="ownerId" jdbcType="VARCHAR" />
        <result column="update_userId" property="updateUserId" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_userId" property="createUserId" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <parameterMap id="ProductConfigParameter" type="com.sixliu.credit.product.entity.ProductConfig"/>
    
    <!-- from 表 -->
    <sql id="from_table">
    	from product_config
    </sql>
    

    
    <!-- 查询通用列 -->
    <sql id="select_common_column">
    	select 
    		`id`,
	        `code`,
	        `name`,
	        type_id,
	        `priority`,
	        credit_apply_mutex_type,
	        use_blacklist_group_id,
	        loop_creditlimit,
	        increase_creditlimit,
	        decrease_creditlimit,
	        link_customer_base_creditlimit,
	        credit_apply_max_months,
	        credit_apply_flow_modle_id,
	        credit_apply_reject_influence_days,
			min_creditlimit,
			max_creditlimit,
			creditlimit_effective_months,
			min_single_loan_amount,
			max_single_loan_amount,
			loan_term_type,
	        min_single_loan_term,
	        max_single_loan_term,
	        loan_flow_modle_id,
	        effective,
	        effective_date,
	        expire_date,
	        `remarks`,
	        `version`,
	        owner_id,
	        update_user_id,
	        update_date,
	        create_user_id,
	        create_date
    </sql>
    
    <!-- intsert to 表 -->
    <sql id="insert_common_table">
    	insert into product_config(`id`,
    								`code`,
    								`name`,
    								type_id,
    								`priority`,
    								credit_apply_mutex_type,
    								use_blacklist_group_id,
    								loop_creditlimit,
    								increase_creditlimit,
    								decrease_creditlimit,
    								link_customer_base_creditlimit,
    								credit_apply_max_months,
    								credit_apply_flow_modle_Id,
    								credit_apply_reject_influence_days,
    								min_creditlimit,
    								max_creditlimit,
    								creditlimit_effective_months,
    								min_single_loan_amount,
    								max_single_loan_amount,
    								loan_term_type,
    								min_single_loan_term,
    								max_single_loan_term,
    								loan_flow_modle_id,
  									effective,
    	 							effective_date,
    	 							expire_date,
    	 							`remarks`,
    	 							owner_id,
    	 							update_user_id,
    	 							create_user_id
    	 							)
    	 					 values(#{id},
    	 							#{code},
    	 							#{name},
    	 							#{typeId},
    	 							#{priority},
    	 							#{creditApplyMutexType},
    	 							#{useBlacklistGroupId},
    	 							#{loopCreditlimit},
    	 							#{increaseCreditlimit},
    	 							#{decreaseCreditlimit},
    	 							#{linkCustomerBaseCreditlimit},
    	 							#{creditApplyMaxMonths},
    	 							#{creditApplyFlowModleId},
    	 							#{creditApplyRejectInfluenceDays},
    	 							#{minCreditlimit},
    	 							#{maxCreditlimit},
    	 							#{creditlimitEffectiveMonths},
    	 							#{minSingleLoanAmount},
    	 							#{maxSingleLoanAmount},		
    	 							#{loanTermType},
    		   						#{minSingleLoanTerm},
    		   						#{maxSingleLoanTerm},
    		   						#{loanFlowModleId},
    		   						#{effective},
    		   						#{effectiveDate},
    		   						#{expireDate},
    		   						#{remarks},
    		   						#{ownerId},
    		   						#{updateUserId},
    		   						#{createUserId}
    		   						)
    </sql>

    <sql id="delete_from_table">
    	delete from product_config
    </sql>
    
	<select id="get" resultMap="ProductConfigResult" >
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where `id` =#{id}
    </select>
    
    <select id="getByCode" resultMap="ProductConfigResult" >
		<include refid="select_common_column"/>
		<include refid="from_table"/>
        where `code` =#{code}
    </select>
   
    <insert id="insert" parameterMap="ProductConfigParameter">
    	<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
              select uuid()
    	</selectKey>
    	<include refid="insert_common_table"></include>
	</insert> 
	
	<delete id="delById">
		<include refid="delete_from_table"/>
		where `id`=#{id}
	</delete>
	
	<delete id="delByCode">
		<include refid="delete_from_table"/>
		where `code`=#{code}
	</delete>
</mapper>